{template 'common/header'}

<ul class="nav nav-tabs">
	
	<li {if $operation == 'post'}class="active"{/if}><a href="{php echo $this->createWebUrl('cate', array('op' => 'post'))}">添加类别</a></li>
	<li {if $operation == 'display'}class="active"{/if}><a href="{php echo $this->createWebUrl('cate', array('op' => 'display'))}">类别列表</a></li>
</ul>
{if $operation == 'post'}
<div class="main">
	<form action="" method="post" class="form-horizontal form" enctype="multipart/form-data" id="form1" onsubmit="return formcheck();">
		<div class="panel panel-default">
			<div class="panel-heading">
				编辑类别
			</div>
			<div class="panel-body">
				
				
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style="color:red">*</span>类别名</label>
					<div class="col-sm-9 col-xs-12">
						<input type="text" name="title" class="form-control" value="{$list['title']}" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style="color:red">*</span>排序</label>
					<div class="col-sm-9 col-xs-12">
						<input type="text" name="sort" class="form-control" value="{$list['sort']}" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style="color:red">*</span>添加人</label>
					<div class="col-sm-9 col-xs-12">
						<input type="text" name="author" class="form-control" value="{$list['author']}" />
					</div>
				</div>
				
				
			
				 <div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">是否显示</label>
					<div class="col-sm-9 col-xs-12">
						<label class='radio-inline'>
							<input type='radio' name='status' value='1' {if $list['status']==1}checked{/if} /> 是
						</label>

						<label class='radio-inline'>
							<input type='radio' name='status' value='0' {if $list['status']==0}checked{/if} /> 否
						</label>
					</div>
				</div>
				<!-- <div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style="color:red"></span>新闻内容</label>
					<div class="col-sm-9 col-xs-12">
						{php echo tpl_ueditor('desc', $list['desc']);}
					</div>
				</div> -->
			</div>
		</div>
		<div class="form-group col-sm-12">
			<input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1 " />
			<input type="hidden" name="token" value="{$_W['token']}" />
		</div>
	</form>
</div>
<script type="text/javascript">
function formcheck(){
		
		if($("input[name='title']").val()==''){
			alert('类别不能为空');
			return false;
		}
		if($("input[name='author']").val()==''){
			alert('添加人不能为空');
			return false;
		}
		
		return true;
	}

</script>
{elseif $operation == 'display'}
<div class="main">
	<div class="category">
			<div class="panel panel-default">
				<div class="panel-body table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th style="width:200px;padding-left:80px;">类别名称</th>
								<th style="width:150px;">添加人</th>
								<th style="width:150px;">状态</th>
								<th style="width:150px;">添加时间</th>
								<th style="width:150px;">操作</th>
							</tr>
						</thead>
						<tbody>
						{loop $list $row}
						<tr>
							
								<!-- <img src="{php echo tomedia($row['thumb']);}" width='30' height="30" onerror="$(this).remove()" style='padding:1px;border: 1px solid #ccc;float:left;' /> -->
							
							<td>{if mb_strlen($row['title'], 'utf8')>10}
								{php echo mb_substr($row['title'], 0, 10, 'utf8').'...';}
								{else}
								{$row['title']}
								{/if} 
                            </td>
							<td>{$row['author']}</td>
							
							<td>
								{if $row['status']==1}
								<span class='label label-success'>显示</span>
								{else}
								<span class='label label-danger'>隐藏</span>
								{/if}
							</td>
							<td>{php echo date('Y-m-d',$row['ctime'])}</td>
							<td>
								

								<a href="{php echo $this->createWebUrl('cate', array('op' => 'post', 'id' => $row['id']))}" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="编辑"><i class="fa fa-edit"></i></a>&nbsp;&nbsp;
								<a href="{php echo $this->createWebUrl('cate', array('op' => 'delete', 'id' => $row['id']))}" onclick="return confirm('确认删除此条信息吗？');return false;" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="删除"><i class="fa fa-times"></i></a>

							
							
					
								
							</td>
						</tr>

						
						
						{/loop}
						
					
						</tbody>
					</table>
					{$pager}
				</div>
			</div>
	</div>
</div>
{/if}
{template 'common/footer'}
