{template 'common/header'}
<ul class="nav nav-tabs">
	<li class="active"><a href="javascript:;">{if !$tu['id']}添加短信配置{else}编辑短信配置{/if}</a></li>
</ul>
<div class="alert alert-danger" role="alert">地址:<a href="http://www.smsbao.com/">http://www.smsbao.com/</a> 暂用短信宝</div>
		<div class="main">
			<div class=" panel-default">
             <div class="panel-body">
			 	<form action="" method="post" class="form-horizontal form" enctype="multipart/form-data" id="form1">
		<div class="panel panel-default">
			<div class="panel-heading">
				{if !$tu['id']}添加短信配置{else}编辑短信配置{/if}
			</div>
			<div class="panel-body">
					<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style="color:red">*</span>短信宝账号</label>
					<div class="col-sm-9 col-xs-12">
						<input type="text" name="ad" class="form-control" value="{$tu['ad']}" />
					</div>
				</div>
					<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style="color:red">*</span>短信宝密码</label>
					<div class="col-sm-9 col-xs-12">
						<input type="text" name="as" class="form-control" value="{$tu['as']}" />
					</div>
				</div>
					<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">是否开启使用</label>
					<div class="col-sm-7 col-xs-12">
						<label class="radio-inline"><input type="radio" name="status" value="1"  {if !empty($tu['status']) && $tu['status'] == 1}checked="checked"{/if} /> 开启</label>
						&nbsp;&nbsp;&nbsp;
						<label class="radio-inline"><input type="radio" name="status" value="0"   {if empty($tu['status']) || $tu['status'] == 0}checked="checked"{/if} /> 不开启</label>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group col-sm-12">
			<input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1" />
			<input type="hidden" name="id" value="{$tu['id']}" />
			<input type="hidden" name="token" value="{$_W['token']}" />
		</div>
	    </form>
            </div>
            </div>
			</div>
{template 'common/footer'}