<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{$config['title']}</title>
		<meta name="viewport" content="initial-scale=1, maximum-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="{$_W['siteroot']}addons/time_tvod/static/css/core.css">
		<link rel="stylesheet" href="{$_W['siteroot']}addons/time_tvod/static/css/common.css">
		<script>var homepage = "{php echo $this->createMobileurl('index')}";</script>
	</head>
<body>
 	<div class="page-group">
		<div id="user-recharge" class="page page-current">
			<header class="bar bar-nav">
				<h1 class="title">用户中心</h1>
			</header>
			<nav class="bar bar-tab">
				<a class="external tab-item" href="{php echo $this->createMobileurl('prise')}">
			        <svg class="icon" aria-hidden="true">
			            <use xlink:href="#icon-movie"></use>
			        </svg>
					<span class="tab-label">神器</span>
				</a>
				<a class="external tab-item" href="{php echo $this->createMobileurl('tv')}">
			        <svg class="icon" aria-hidden="true">
			            <use xlink:href="#icon-tv"></use>
			        </svg>
					<span class="tab-label">电视</span>
				</a>
				<a class="external tab-item active" href="{php echo $this->createMobileurl('index')}">
			        <svg class="icon" aria-hidden="true">
			            <use xlink:href="#icon-index"></use>
			        </svg>
					<span class="tab-label">推荐</span>
				</a>
				<a class="external tab-item" href="{php echo $this->createMobileurl('vip')}">
			        <svg class="icon" aria-hidden="true">
			            <use xlink:href="#icon-vip"></use>
			        </svg>
					<span class="tab-label">VIP</span>
				</a>
				<a class="external tab-item" href="{php echo $this->createMobileurl('user')}">
			        <svg class="icon" aria-hidden="true">
			            <use xlink:href="#icon-user-fill"></use>
			        </svg>
					<span class="tab-label">我的</span>
				</a>
			</nav>
			<div class="content">

					<div class="uc-index-header">
						<div class="list-block media-list tui-ma-0">
							<ul class="tui-border-none">
								<li class="tui-border-none">
									<a class="item-content item-link external" href="#">
										<div class="item-media">
											<img src="{$member['avatar']}" />
										</div>
										<div class="item-inner">
											<div class="item-title">{$member['nickname']}</div>
											<div class="item-subtitle">{if $user['vit_time'] > $_W['timestamp']}VIP会员{else}普通会员{/if}</div>
										</div>
									</a>
								</li>
							</ul>
						</div>

						<div class="header-ft">
							<a class="external" href="javascript:;">
								<em>{$user['point']}</em>
								<p>积分</p>
							</a>
							<a class="external" href="javascript:;">
								<em>{$user['money']}</em>
								<p>奖励</p>
							</a>
							<a class="external" href="javascript:;">
								<em>{$leadnum}</em>
								<p>朋友</p>
							</a>
						</div>
					</div>
					
					
					
				<div class="buttons-tab tui-mt-10">
					<a href="#tab1" class="tab-link active button">充值会员</a>
					<a href="#tab2" class="tab-link button">积分兑换</a>
				</div>
				<div class="tabs">
					<div id="tab1" class="tab active">
						<form id="form-recharge-money" action="{php echo $this->createMobileUrl('user',array('op' => 'recharge'))}" method="post">
							<input type="hidden" name="token" value="{$_W['token']}" />
							<input type="hidden" name="submit" value="1" />
							<input type="hidden" name="data[feetype]" value="0" />
							<div class="list-block media-list tui-mt-0">
								<ul class="tui-border-none">
									{php $i=0;}
									{loop $fees $item}
									<li>
										<label class="label-checkbox item-content">
									      <input type="radio" name="data[feeid]" value="{$item['id']}" {if $i ==0}checked{/if} />
									      <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
									      <div class="item-inner">
									        <div class="item-title-row">
									          <div class="item-title">{$item['name']}</div>
									          <div class="item-after"></div>
									        </div>
									        <div class="item-subtitle">{$item['day']}天  - {$item['price']}元</div>
									      </div>
									    </label>
									</li>
									{php $i++;}
									{/loop}
								</ul>
							</div>
							<div class="content-padded">
								<button type="submit" class="button button-success button-fill button-block">确认开通</button>
							</div>
						</form>

					</div>
					<div id="tab2" class="tab">
						<form action="" method="post">
							<input type="hidden" name="token" value="{$_W['token']}" />
							<input type="hidden" name="submit" value="1" />
							<input type="hidden" name="data[feetype]" value="1" />
							<div class="list-block media-list tui-mt-0">
								<ul class="tui-border-none">
									{php $i=0;}
									{loop $fees $item}
									<li>
										<label class="label-checkbox item-content">
									      <input type="radio" name="data[feeid]" value="{$item['id']}" {if $i ==0}checked{/if} />
									      <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
									      <div class="item-inner">
									        <div class="item-title-row">
									          <div class="item-title">{$item['name']}</div>
									        </div>
									        <div class="item-subtitle">{$item['day']}天 - {$item['point']}积分</div>
									      </div>
									    </label>
									</li>
									{php $i++;}
									{/loop}
								</ul>
							</div>
							<div class="content-padded">
								<button type="submit" class="button button-warning button-fill button-block">积分兑换</button>
							</div>
						</form>
					</div>
				</div>

			</div>
		</div>

    <script src='{$_W['siteroot']}addons/time_tvod/static/js/jquery.js'></script>
    <script src='{$_W['siteroot']}addons/time_tvod/static/js/core.js'></script>
    <script src='{$_W['siteroot']}addons/time_tvod/static/js/iconfont.js'></script>
    <script src="{$_W['siteroot']}addons/time_tvod/static/js/common.js"></script>
	{php echo register_jssdk(false);} 
	<script>
		wx.ready(function () {
			wx.hideAllNonBaseMenuItem();
		});
	</script>
</body>
</html>