{template 'common/header'}
<div class="panel panel-default">
	<div class="panel-heading">
		出行管理
	</div>
	<div class="panel-body">
		<table class="table table-condensed table-striped" style="background-color: white;table-layout:fixed;word-wrap:break-word">
			<thead style="border-top-left-radius: 3px;border-top-right-radius: 3px;">
				<tr>
					<th style="text-align: center">出发站</th>
					<th style="text-align: center">目的地</th>
					<th style="text-align: center">出行时间</th>
					<th style="text-align: center">集合地点</th>
					<th style="text-align: center;width:60px">状态</th>
					<th style="text-align: center;width:50px">操作</th>
				</tr>
			</thead>
			<tbody>
				{loop $travel $index $item}
					<tr id="travel_1_{$item['id']}">
						<td colspan="6">
							下单时间：{php echo date('Y-m-d H:i:s',$item['release_time'])}&#12288;乘客：{$item['name']}&#12288;联系方式：{$item['mobile']}&#12288;人数：{$item['amount']}
						</td>
					</tr>
					<tr id="travel_2_{$item['id']}">
						<td style="text-align: center">{$item['departure_station']}</td>
						<td style="text-align: center">{$item['terminal_station']}</td>
						<td style="text-align: center">{php echo date('Y-m-d H:i:s',$item['departure_time'])}</td>
						<td style="text-align: center">{$item['boarding_place']}</td>
						<td style="text-align: center">
							{if $item['status'] == '0'}
								待确认
							{else if $item['status'] == '1'}
								已确认
							{/if}
						</td>
						<td style="text-align: center">
							<a href="javascript:delete_travel({$item['id']})" style="color:red"><i class="fa fa-minus-square"></i></a>
						</td>
					</tr>
				{/loop}
			</tbody>
		</table>
	</div>
</div>
<script>
function delete_travel(id) {
	var r = confirm("删除出行！");
	if(r) {
		$.post("{php echo $this->createWeburl('travel',array('op'=>delete_travel))}",{
				id:id
			},
			function(resp) {
				resp = $.parseJSON(resp);
				if(resp.message.errno == 0) {
					alert("删除出行成功！");
					$("#travel_1_"+id).remove();
					$("#travel_2_"+id).remove();
				}
			}
		);
	}
}
</script>