		<p>
        苏州金梧桐人力资源有限公司<br>copyright@2016-2017
        </p>
        <div class="clear"></div>

        <div id="stickey_footer">
            <ul id="footer_menu">
                <li><a href="tel:13015510995" ><span id="toolTel"></span>电话咨询</a></li>
                <li><a href="sms:13015510995"><span id="toolSms"></span>短信咨询</a></li>
                <li><a  href="{php echo $this->createMobileUrl('news', array('op' => 'list'))}"><span id="toolOnline"></span>公司新闻</a></li>
                <li><a href=""><span id="toolMap"></span>代理中心</a></li>
            </ul>
        </div>

