{template 'header'}
<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta id="viewport" name="viewport" content="width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
<title>金梧桐群英网</title>
<meta name="keywords" content="金梧桐群英网" />
<meta name="description" content="金梧桐群英网." />
<link href="{OSSURL}/public/mobile/css/css.css" rel="stylesheet" type="text/css" />
<script src="{OSSURL}/public/mobile/js/jquery-1.4.2.min.js"></script>


</head>
<body>
    <header style="background:#2786da;margin-top:0px;">
        <div id="logo" ><a href="javascript:;"><h1>金梧桐群英网</h1></a></div>
        <nav>
            <ul id="menu">
                 {template 'common_header'}
            </ul>
        </nav>
    </header>
    <article id="content">
        <h2 style="color:red;margin-top:15px;font-size:16px;">公司新闻:</h2>
        <ul class="list">
            {loop $list $row}
            <li><a  href="{php echo $this->createMobileUrl('news', array('op' => 'newsdetail','id'=>$row['id']))}">{if mb_strlen($row['title'], 'utf8')>25}
                        {php echo mb_substr($row['title'], 0, 25, 'utf8').'...';}
                    {else}
                        {$row['title']}
                    {/if} </a></li>
            {/loop}
        </ul>
    </article>
    <div>
    {$pager}</div>
    <footer>
       

        {template 'common_footer'}
       
    </footer>
</body>
</html>

