{template 'common/header'}
<style>
body{
	background-color: #F3F3F3;
}
.pin{
	margin:10px;
	border-radius:5px;
	border:1px #EFEFEF solid;
	background-color: white;
	padding: 10px 10px 0px 10px;
}
.address{
	margin:10px 15px;
	font-size:80%;
}
</style>

<script>
	mui('body').on('tap','a',function(){document.location.href=this.href;});  
</script>

<div style="background-color: white;padding-top:10px;padding-bottom:10px">
	<div style="width:250px;margin:0px auto">
		<div style="width:100px;height:30px">
			<input id="departure_station" style="width:100%;text-align: center;background-color: transparent;border:0px;border-radius: 0px;border-bottom:1px #F3F3F3 solid" placeholder="始发站" />
		</div>
		<div style="width:50px;margin-top:-30px;margin-left:100px;height:30px;text-align: center;">
			<i class="fa fa-arrow-circle-o-right"></i>
		</div>
		<div style="width:100px;margin-top:-30px;margin-left:150px;height:30px">
			<input id="terminal_station" style="width:100%;text-align: center;background-color: transparent;border:0px;border-radius: 0px;border-bottom:1px #F3F3F3 solid" placeholder="终点站" />
		</div>
	</div>
	<div style="width:250px;margin:0px auto;height:25px;margin-top:10px">
		<div style="height:25px">
			<input id="date" class="mui-input-clear" style="padding-left:25px;height:25px;width:100%;text-align: center;background-color: transparent;border:0px;border-radius: 0px;border-bottom:1px #F3F3F3 solid;-moz-appearance: none;-webkit-appearance:none;appearance:none;text-align: center" readonly="true" />			
		</div>
		<div style="position: relative;top:-25px;width:25px">
			<i class="fa fa-calendar"></i>
		</div>
	</div>
</div>

<link rel="stylesheet" href="{$_W['siteroot']}app/resource/components/datepicker/mui.picker.all.css" />
<script type="text/javascript" src="{$_W['siteroot']}app/resource/components/datepicker/mui.picker.all.js"></script>
<script>
	$("#departure_station").change(function() {
		if($("#departure_station").val() != '' && $("#terminal_station").val() == "") {
			$("#terminal_station").focus();
		} else if($("#departure_station").val() != '' && $("#terminal_station").val() != '') {
			refresh();
		}
	})
	$("#terminal_station").change(function() {
		if($("#terminal_station").val() != '' && $("#departure_station").val() == "") {
			$("#departure_station").focus();
		} else if($("#departure_station").val() != '' && $("#terminal_station").val() != '') {
			refresh();
		}
	})
	$("#date").click(function(){
	　　var dtPicker = new mui.DtPicker({"type": "date"}); 
		dtPicker.show(function (selectItems) { 
		    $("#date").val(selectItems.y.value+"-"+selectItems.m.value+"-"+selectItems.d.value);
		    if($("#departure_station").val() == '') {
				$("#departure_station").focus();
			} else if ($("#terminal_station").val() == '') {
				$("#terminal_station").focus();
			} else {
				refresh();
			}
		})
	})
	function refresh() {
		$.post("{php echo $this->createMobileurl('index',array('op'=>refresh))}",{
				departure_station:$("#departure_station").val(),
				terminal_station:$("#terminal_station").val(),
				date:$("#date").val()
			},
			function(resp) {
				resp = $.parseJSON(resp);
				var data = resp.message.message;
				if(data == '') {
					mui.alert("无符合条件的拼车！");
					$("#all_pin").html("");
				} else {
					$("#all_pin").html("");
					for(var i=0; i<data.length; i++) {
						var html = '<div id="'+data[i].id+'" class="pin">'+
							'<div style="text-align: center;width: 240px;margin:0px auto">'+data[i].departure_time+'</div>'+
							'<div style="width:240px;margin:-10px auto 0px auto">'+
								'<div style="width:80px;float:left;text-align: center">'+
									data[i].departure_station+
								'</div>'+
								'<div style="text-align: center;float:left;width:80px">'+
									'<img src="{$_W['siteroot']}addons/navlange_pinche/template/style/img/arrow.png" height="auto" width="80px" />'+
								'</div>'+
								'<div style="width:80px;float:left;text-align: center">'+
									data[i].terminal_station+
								'</div>'+
							'</div>'+
							'<div style="clear:both;border-top: 1px #EFEFEF solid"></div>'+
							'<div class="container" style="margin-top:5px">'+
								'<div class="row">'+
									'<div class="col-xs-9" style="color:#EA7F17">'+
										'车型：'+data[i].car_series+
									'</div>'+
									'<div class="col-xs-3" style="text-align: right;color:#EA7F17;padding:0px">'+
										'可乘'+data[i].passenger_count+'人'+
									'</div>'+
								'</div>'+
							'</div>'+
							'<div class="address">'+
								'集合地点：'+data[i].boarding_place+
							'</div>'+
							'<div class="address">'+
								'已拼人数：'+'<span id="pin_count_'+data[i].id+'">'+data[i].pin_count+'</span>'+
							'</div>'+
							'<div style="border-top: 1px #EFEFEF solid"></div>'+
							'<div style="width:200px;margin:10px auto 0px auto;text-align:center">'+
								'<button type="button" class="mui-btn mui-btn-warning mui-btn-block" onclick="pin('+data[i].id+')">我要拼车</button>'+
							'</div>'+
						'</div>';
						$("#all_pin").append(html);
					}
				}
			}
		);
	}
</script>
<div id="all_pin" style="margin-bottom:60px">
	{loop $pin_info $index $vo}
		<div id="{$vo['id']}" class="pin">
			<div style="text-align: center;width: 240px;margin:0px auto"><?php echo date('m-d H:i',$vo['departure_time']); ?></div>
			<div style="width:240px;margin:-10px auto 0px auto">
				<div style="width:80px;float:left;text-align: center">
						{$vo['departure_station']}
				</div>
				<div style="text-align: center;width:80px;float:left">
					<img src="{$_W['siteroot']}addons/navlange_pinche/template/style/img/arrow.png" height="auto" width="80px" />
				</div>
				<div style="width:80px;float:left;text-align: center">
						{$vo['terminal_station']}
				</div>
			</div>
			<div style="clear:both;border-top: 1px #EFEFEF solid"></div>
			<div class="container" style="margin-top:5px">
				<div class="row">
					<div class="col-xs-9" style="color:#EA7F17">
							车型：{$vo['car_series']}
					</div>
					<div class="col-xs-3" style="text-align: right;color:#EA7F17;padding:0px">
							可乘{$vo['passenger_count']}人
					</div>
				</div>
			</div>
			<div class="address">
					集合地点：{$vo['boarding_place']}
			</div>
			<div class="address">
					已拼人数：<span id="pin_count_{$vo['id']}">{$vo['pin_count']}</span>
			</div>
			<div style="border-top: 1px #EFEFEF solid"></div>
			<div style="width:200px;margin:10px auto 0px auto;text-align:center">
				<button type="button" class="mui-btn mui-btn-warning mui-btn-block" onclick="pin({$vo['id']})">我要拼车</button>
			</div>
		</div>
	{/loop}
</div>
<div id="register" style="padding:10px;display:none;position: fixed;top:40%;width:100%;z-index:999">
	<form class="mui-input-group" action="" method="POST" style="z-index:999">
	    <div class="mui-input-row">
	        <label>姓名</label>
	    	<input type="text" id="name" name="name" class="mui-input-clear" placeholder="请输入姓名">
	    </div>
	    <div class="mui-input-row">
	        <label>联系电话</label>
	        <input type="number" id="mobile" name="mobile" class="mui-input-clear" placeholder="请输入联系电话">
	    </div>
	    <div class="mui-input-row">
	        <label>人数</label>
	        <input type="number" id="amount" name="amount" class="mui-input-clear" placeholder="请输入人数">
	    </div>
	    <div class="mui-input-row">
	        <label>上车地点</label>
	        <input type="text" id="boarding_place" name="boarding_place" class="mui-input-clear" placeholder="请输入上车地点">
	    </div>
	    <div class="mui-button-row">
	        <button type="button" class="mui-btn mui-btn-primary" onclick="pin_submit()">确认</button>
	        <button type="button" class="mui-btn mui-btn-danger" onclick="pin_cancel()">取消</button>
	    </div>
	</form>
</div>
<style>
.nav_item {
	color:grey;
	text-align: center
}
.nav_item_active {
	color:{$conf['color']};
}
</style>
<div style="position: fixed;bottom:0px;height:50px;background-color: #F7F7F7;width:100%">
	<div class="nav_item" style="width:50px;height:50px;border-top:1px #ACACAC solid;border-right:1px #ACACAC solid" onclick="location.href='{php echo $this->createMobileurl('owner_index')}'">
		<div style="font-size:12px;height:15px">我是</div>
		<div style="font-size:12px;height:15px">车主</div>
		<div style="height:15px;font-size:12px"><i class="fa fa-car"></i></div>
	</div>
	<div class="nav_item nav_item_active" style="width:80px;height:50px;border-top:1px #ACACAC solid;margin:-50px auto 0px 50px">
		<div style="font-size:20px;padding-top:5px"><i class="fa fa-home"></i></div>
		<div style="font-size:12px">首页11</div>
	</div>
	<div class="nav_item" style="width:80px;margin:-50px auto 0px 130px;height:50px;border-top:1px #ACACAC solid" onclick="location.href='{php echo $this->createMobileurl('person')}'">
		<div style="font-size:20px;padding-top:5px"><i class="fa fa-user"></i></div>
		<div style="font-size:12px">个人中心</div>
	</div>
	<div style="height:50px;margin:-50px 0px 0px 210px;line-height: 50px;background-color: #F3CF52;color:white;text-align: center;border-top:1px #F3CF52 solid" onclick="release_travel()">
		出行
	</div>
</div>
<div id="travel_release_panel" style="position: absolute;top:0px;height:100%;width:100%;z-index:999;display:none;padding:10px">
	<div style="background-color:white;overflow: auto">
		<form class="mui-input-group" action="" method="POST" style="z-index:999">
		    <div class="mui-input-row">
		        <label>出发站点</label>
		    	<input type="text" id="release_departure_station" name="release_departure_station" class="mui-input-clear" placeholder="请输入出发站点">
		    </div>
		    <div class="mui-input-row">
		        <label>目的站点</label>
		        <input type="text" id="release_terminal_station" name="release_terminal_station" class="mui-input-clear" placeholder="请输入目的站点">
		    </div>
		    <div class="mui-input-row">
		        <label>出行时间</label>
		        <input type="text" id="release_departure_time" name="release_departure_time" class="mui-input-clear" placeholder="请选择出行时间" readonly>
		    </div>
		    <link rel="stylesheet" href="{$_W['siteroot']}app/resource/components/datepicker/mui.picker.all.css" />
			<script type="text/javascript" src="{$_W['siteroot']}app/resource/components/datepicker/mui.picker.all.js"></script>
			<script>
				$("input[name='release_departure_time']").click(function(){
				　　var dtPicker = new mui.DtPicker(); 
					dtPicker.show(function (selectItems) { 
						var str_time = selectItems.y.value+"-"+selectItems.m.value+"-"+selectItems.d.value+" "+selectItems.h.value+":"+selectItems.i.value;
						var timestamp = Date.parse(new Date(str_time));
						timestamp = timestamp / 1000;
						if(timestamp < {php echo time();}) {
							mui.alert("出行时间已过，请重新选择！");
						} else {
							$("input[name='release_departure_time']").val(str_time);
						}
					})
				})
			</script>
		    <div class="mui-input-row">
		        <label>姓名</label>
		    	<input type="text" id="release_name" name="release_name" class="mui-input-clear" placeholder="请输入姓名">
		    </div>
		    <div class="mui-input-row">
		        <label>联系电话</label>
		        <input type="number" id="release_mobile" name="release_mobile" class="mui-input-clear" placeholder="请输入联系电话">
		    </div>
		    <div class="mui-input-row">
		        <label>人数</label>
		        <input type="number" id="release_amount" name="release_amount" class="mui-input-clear" placeholder="请输入人数">
		    </div>
		    <div class="mui-input-row">
		        <label>上车地点</label>
		        <input type="text" id="release_boarding_place" name="release_boarding_place" class="mui-input-clear" placeholder="请输入上车地点">
		    </div>
		    <div class="mui-button-row">
		        <button type="button" class="mui-btn mui-btn-primary" onclick="release_submit()">确认</button>
		        <button type="button" class="mui-btn mui-btn-danger" onclick="release_cancel()">取消</button>
		    </div>
		</form>
	</div>
</div>
<script>
var mask = mui.createMask(function(){});//callback为用户点击蒙版时自动执行的回调；;
var pin_id;
function release_travel() {
	mask.show();//显示遮罩
	$("#travel_release_panel").show();
}
function release_cancel() {
	$("#travel_release_panel").hide();
	mask.close();
}
function release_submit() {
	if($("#release_departure_station").val()=="") {
		alert("请输入出发站点！");
		$("#release_departure_station").focus();
	} else if($("#release_terminal_station").val()=="") {
		alert("请输入目的站点！");
		$("#release_terminal_station").focus();
	} else if($("#release_departure_time").val()=="") {
		alert("请选择出行时间！");
		$("#release_departure_time").focus();
	} else if($("#release_name").val()=="") {
		alert("请输入您的姓名！");
		$("#release_name").focus();
	} else if($("#release_mobile").val()=="") {
		alert("请输入您的联系电话！");
		$("#release_mobile").focus();
	} else if($("#release_amount").val()=="") {
		alert("请输入乘车人数！");
		$("#release_amount").focus();
	} else if($("#release_boarding_place").val()=="") {
		alert("请输入登车地点！");
		$("#release_boarding_place").focus();
	} else {
		$.post("{php echo $this->createMobileurl('index',array('op'=>'release_travel'))}",{
				departure_station:$("#release_departure_station").val(),
				terminal_station:$("#release_terminal_station").val(),
				departure_time:$("#release_departure_time").val(),
				name:$("#release_name").val(),
				mobile:$("#release_mobile").val(),
				amount:$("#release_amount").val(),
				boarding_place:$("#release_boarding_place").val()
			},function(resp) {
				resp = $.parseJSON(resp);
				if(resp.message.errno == '0') {
					mui.alert("发布成功！");
					$("#travel_release_panel").hide();
					mask.close();
				}
			}
		);
	}
}
function pin(id) {
	$.post("{php echo $this->createMobileurl('index',array('op'=>'pin_check'));}",{
			id:id
		},function(resp) {
			resp = $.parseJSON(resp);
			if(resp.message.errno == '1') {
				alert("您已拼过该车，请不要重复拼车！");
			} else if (resp.message.errno == '2') {
				alert("该车已拼满！");
			} else {
				pin_id = id;
				mask.show();//显示遮罩
				$("#register").show();
			}
		}
	);
}
function pin_submit() {
	$.post("{php echo $this->createMobileurl('index',array('op'=>'pin'));}",{
			id:pin_id,
			name:$("#name").val(),
			mobile:$("#mobile").val(),
			amount:$("#amount").val(),
			boarding_place:$("#boarding_place").val()
		},
		function(resp) {
			mask.close();//显示遮罩
			$("#register").hide();
			resp = $.parseJSON(resp);
			if(resp.message.errno == '1') {
				mui.alert("您已拼过该车，请不要重复拼车！");
			} else if (resp.message.errno == '2') {
				mui.alert("该车已拼满！");
			} else {
				var reply = resp.message.message;
				location.href="{php echo $this->createMobileurl('confirm')}"+"&id="+reply.id;
			}
		}
	);
}
function pin_cancel() {
	$("#register").hide();
	mask.close();
}
</script>
