{template 'common/header'}
<style>
body{
    background-color: #F3F3F3;
}
.express{
    margin:10px;
    border-radius:5px;
    border:1px #EFEFEF solid;
    background-color: white;
    padding: 10px;
}
.address{
    margin:10px 15px;
    font-size:80%;
}
.send .goods {
    color:#EA7F17;
}
.send .express-time {
    color:#EA7F17;
}
.send .money {
    color:#EA7F17;
    text-align: right
}
.send .info {
    background-color: #EA7F17;
}
.status {
    height:24px;
    line-height: 24px;
    font-size:80%;
}
.status-0 {
    color:#397ADB;
}
.status-1 {
    color:#EA7F17;
}
.status-2 {
    color:green;
}
</style>

<script>
    mui('body').on('tap','a',function(){document.location.href=this.href;});  
</script>

{loop $pin $index $vo}
    <div id="pin_{$vo['id']}" class='express send'>
        <div style="text-align: center;width: 260px;margin:0px auto">{php echo date('m-d H:i',$vo['departure_time']);}</div>
        <div style="width:260px;margin:-10px auto 0px auto">
            <div style="width:80px;display: inline-block;text-align: center">
                {$vo['departure_station']}
            </div>
            <div style="text-align: center;display: inline-block;width:80px">
                <img src="{$_W['siteroot']}addons/navlange_pinche/template/style/img/arrow.png" height="auto" width="80px" />
            </div>
            <div style="width:80px;display: inline-block;text-align: center">
                {$vo['terminal_station']}
            </div>
        </div>
        <div style="border-top: 1px #EFEFEF solid"></div>
        <div class="address">
            乘车人数：{$vo['passenger_count']}
        </div>
        <div class="address">
            集合地点：{$vo['boarding_place']}
        </div>
        <div style="border-top: 1px #EFEFEF solid"></div>
        <div style="margin:10px auto 0px auto">
            <div class="container">
                <div class="row">
                    <div class="col-xs-5 status" style="line-height: 33px">
                        状态：{php echo $this->trans_pin_status($vo['status']);}
                    </div>
                    <div class="col-xs-7" style="text-align:right">
                        <button type="button" class="mui-btn mui-btn-success" onclick="location.href='{php echo $this->createMobileurl('info',array('id'=>$vo['id']))}'">详情</button>  
                        <button type="button" class="mui-btn mui-btn-danger" onclick="cancel_pin({$vo['id']})">取消</button>                        
                    </div>
                </div>
            </div>              
        </div>
    </div>
{/loop}
<script>
function cancel_pin(id) {
    var r = confirm("确认取消！");
    if(r) {
        $.post("{php echo $this->createMobileurl('owner_pin',array('op'=>'cancel_pin'))}",{
                id:id
            },function(resp) {
                resp = $.parseJSON(resp);
                if(resp.message.errno == 0) {
                    alert("取消成功！");
                    $("#pin_"+id).remove();
                }
            }
        );
    }
}
</script>