<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>下载APP</title>
		<link rel="stylesheet" href="/public/css/framework7.ios.min.css">
		<link rel="stylesheet" href="/public/css/app.css">
	</head>

	<body>
		<div class="statusbar-overlay"></div>
		<div class="views">
			<div class="view view-main">
				<div class="navbar">
					<div class="navbar-inner">
						<div class="left">
						</div>
						<div class="center sliding">下载APP</div>
						<div class="right"></div>
					</div>
				</div>
				<div class="pages navbar-through toolbar-through">
					<div id="app-page" data-page="search" class="page">
						<div class="page-content">
							<img src="http://bslsource.oss-cn-hangzhou.aliyuncs.com/sources/15820/54136/qr_test.png?OSSAccessKeyId=LTAIxaUpS9IFDat6&Expires=1495374904&Signature=gG%2Feoe5UGa8LfdmIP%2BeCV6YZdq0%3D">
						</div>
					</div>
				</div>	
			</div>
		</div>
	</body>
</html>