{template 'common/header'}
<style type="text/css">
      .gx-jz{
        height:80px;width:80px;
        border:1px solid #C3C3C3;
        text-align:center;
        float:left;
        margin-left: 0px;
        font-size:8px;
      }
      .gx-jz img{
        margin-top:10px;
      }
      .form-group{
  margin-top:15px;
  height:auto;
}
.foat_one{
  float:left;
  margin-left: 5px;
}
</style>
<div class="panel panel-default">
  <div class="panel-heading" style="text-align:center;">
    <h3 class="panel-title">朋友管理</h3>
  </div>
</div>
<ul class="nav nav-tabs">
  <li role="presentation" {if $operation == 'list'}class="active"{/if}><a href="{php echo $this->createMobileUrl('friends', array('op' => 'list'))}">朋友列表</a></li>
  <li role="presentation" {if $operation == 'add'}class="active"{/if}><a href="{php echo $this->createMobileUrl('friends', array('op' => 'add'))}">添加</a></li>
</ul>
{if $operation == 'list'}

<table class="table table-bordered" style="margin-top:20px;">
    <tr style="text-align:center;"><th>姓名</th><!-- <th>地址</th><th>生日日期</th> --><th style="text-align:center;">本年生日</th><th style="text-align:center;">距生日天数</th><th>删除</th></tr>
    {loop $list $key $item}
    <tr style="text-align:center;"><td><a href="{php echo $this->createMobileUrl('FriendsEdit',array('f_id'=>$item['f_id']))}" >{$item['f_name']}</a></td><!-- <td>{$item['address']}</td><td>{$item['brithday']}</td> --><td>{php echo date('Y-m-d',$item['yearbrithday']);}</td><td style="text-align:center;"><span class="lxftime" starttime="{php echo date('Y-m-d',$item['yearbrithday']);}"></span></td><td><a href="{php echo $this->createMobileUrl('FriendsDelete',array('f_id'=>$item['f_id']))}" onclick="return confirm('确定将此记录删除?')"><i class="glyphicon glyphicon-trash"></i></a></td></tr>
    {/loop}
   
</table>

{elseif $operation == 'add'}
<div class="panel-body">
  <form class="form-horizontal" action="{php echo $this->createMobileUrl('Friends')}" method="POST" onsubmit="return checkform()">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">朋友名称</label>
    <div class="col-sm-10">
      <input type="text" name="f_name" class="form-control" id="inputEmail3" placeholder="" value="{$ress['f_name']}">
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">地址</label>
    <div class="col-sm-10">
      <input type="text" name="address" class="form-control" id="inputEmail3" placeholder="" value="{$ress['address']}">
    </div>
  </div>
   <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">农历生日</label>
    <div class="col-sm-10">
      <input type="text" name="brithday" class="form-control" id="inputEmail3" placeholder="如 9-14" value="{$ress['brithday']}">
    </div>
  </div>
  <div class="form-group" > 
     <label for="inputEmail3" class="col-sm-2 control-label">本年生日</label>
     <div class="col-sm-10">{php echo tpl_app_form_field_calendar('yearbrithday', $values =  array('year'=>$time1['0'],'month'=>$time1['1'],'day'=>$time1['2']));}
    </div>
  </div>
   <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">备注</label>
    <div class="col-sm-10">
      <textarea type="textarea" name="desc">{$ress['desc']}</textarea>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10" style="text-align:center;">
      <input type="hidden" name="token" value="{$_W['token']}">
      <input type="hidden" name="f_id" value="{$ress['f_id']}">
      <input type="submit" name="submit" class="btn btn-default" value="提交" />
    </div>
  </div>
</form>
</div>
{/if}

<script type="text/javascript">
  
function checkform(){
  if($("input[name='f_name']").val() == ''){
    alert('名称不能为空');
    return false;
  }
  if($("input[name='f_name']").val().length >6){
    alert('名称不能超过6字符');
    return false;
  }
  
  return true;
}
 function sfpmEndtime(){  
            $(".lxftime").each(function(){  
                var starttime = new Date($(this).attr("starttime")).getTime();//取结束日期(毫秒值)  
                var nowtime = new Date().getTime();//今天的日期(毫秒值)  
                var youtime = starttime-nowtime;//还有多久(毫秒值)  
                var seconds = youtime/1000;  
                var minutes = Math.floor(seconds/60);  
                var hours = Math.floor(minutes/60);  
                var days = Math.floor(hours/24);  
                var CDay= days ;  
                var CHour= hours % 24;  
                var CMinute= minutes % 60;  
                var CSecond= Math.floor(seconds%60);  
                var c=new Date();  
                var q=((c.getMilliseconds())%10);  
                if(starttime<=nowtime){  
                    
                    $(this).html("已过")//结束日期小于当前日期

                }else{     
                    $(this).html("<span style='color:green'>"+days+"</span>");//输出有天数的数据 

                      //$(this).html("<span>"+days+"天"+CHour+"时"+CMinute+"分"+CSecond+"秒</span>");//输出有天数的数据 
                }  
          });  
       setTimeout("sfpmEndtime()",100);  
      };  
    $(function(){  
          sfpmEndtime();  
       });  
</script>
{template './footer_nav'}
{template 'common/footer'}